<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainMenu.master.cs" Inherits="EscapeRoomCopy.MainMenu" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <ul> <!-- This is the navigation bar -->
        <li><a href="Homepage.aspx">Home</a></li>
        
        <%if (Session["username"] == "Guest"){%>
            <li><a href="Login.aspx">Login</a></li>
            <li><a href="SignUp.aspx">Sign Up</a></li>
        <%} else {%>
            <li><a href="Logout.aspx">Log Out</a></li>
            <li><a href="Users.aspx">Users Table</a></li>
        <%}%>

        <li id="guestGreeting"><%="Hello " + Session["username"]%></li>
        <li style="float:right"><a href="ContactUs.aspx">Contact Us</a></li>
    </ul>
    <div> <!-- Here each page's contents will appear-->
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <a href="ContactUs.aspx"> 
        <!-- In every page of the master, the website's logo will appear at the bottom 
        left corner and when pressed, it will direct the user to the contact page -->
        <img src="img/logo.jpg" id="logo">
    </a>
    <button id="panicButton">Panic Button</button>
</body>
</html>
