<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GameMaster.master.cs" Inherits="EscapeRoomCopy.GamePages.GameMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body onload="startTimer()">
    <p id="timer"><%=Session["doorsNum"] %></p>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
